/* CSS Styles */

/* Title */
.title {
    text-align: center;
}
/* End of Title */

/* Logo */
.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 20%;
}
/* End of Logo */

/* Recipe Links */
.recipes-container{
    text-align: center;
    padding: 10px;
}

.recipes {
    padding: 13px;
    margin: auto;
    background-color: black;
    color: #EEEEEE;
    border: red 3px solid;
}
/* End of Recipe Links */